# Ignore folders

dist
loaders
cypress
coverage
assets

# Ignore files

**/*.d.ts
jest.config.cjs
babel.config.cjs
jest.setup.ts
jest.config.ts
tsconfig.json
tsconfig.rollup.json
vitest.config.ts
cypress.config.ts
rollup.config.mjs
webpack.config.cjs
