@layer atlas {
	atlas-feed {
		--default-background-color: var(--atlas-color-primary-n50);
		--default-container-width-size: 300px;

		--background-color-container: var(--default-background-color);
		background-color: var(--background-color-container);
		padding: var(--desktop-common-block-start) 1em 1em 1em;
		display: block;
		height: 100vh;
		overflow-y: auto;
		width: var(--default-container-width-size);
		box-sizing: border-box;
	}

	atlas-feed::part(prefix) {
		display: flex;
	}
}
