@layer atlas {
	atlas-input-chip-group {
		--inset-size: 1em;

		--wrapper-border-radius: var(--atlas-input-common-border-radius);
		--wrapper-border: var(--atlas-input-common-border);

		--chips-label-font-size: var(--atlas-input-common-label-font-size);
		--chips-label-color: var(--atlas-input-common-label-color);
		--chips-label-padding-before: var(--atlas-input-common-label-block-spacing);

		--chips-min-height: calc(var(--atlas-chip-body-height) * 5);
		--chips-max-height: calc(var(--atlas-chip-body-height) * 9);

		--suggestion-min-height: calc(var(--atlas-chip-body-height) * 2);
		--suggestion-max-height: calc(var(--atlas-chip-body-height) * 5);
		--suggestion-box-shadow: var(--atlas-input-common-box-shadow);
		--suggestion-block-start-margin: -1em;
		--suggestion-inline-padding: 0.5em;

		--overall-control-padding: 0.5em;
		--overall-margin-block-end: 3em;

		--backdrop-opacity: 0.7;
		--backdrop-height: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"label"
			"input"
			"suggestion"
			"controls"
			"chips-label"
			"chips";

		width: 100%;
		padding-block: var(--overall-control-padding);
		margin-block-end: var(--overall-margin-block-end);
	}

	atlas-input-chip-group::part(label) {
		grid-area: label;
		display: block;

		font-size: var(--atlas-input-common-label-font-size);
		margin-block-end: var(--atlas-input-common-label-block-spacing);
	}

	atlas-input-chip-group::part(chips-label) {
		grid-area: chips-label;
		display: block;

		color: var(--chips-label-color);

		border-inline: var(--wrapper-border);
		border-block-start: var(--wrapper-border);

		padding-block-start: var(--chips-label-padding-before);
		padding-inline-start: var(--inset-size);

		border-radius: var(--wrapper-border-radius) var(--wrapper-border-radius) 0 0;
	}

	atlas-input-chip-group [slot="chips-label"] {
		font-size: var(--chips-label-font-size);
	}

	atlas-input-chip-group::part(chips-label),
	atlas-input-chip-group::part(chips-scroll-view) {
		background-color: var(--atlas-input-common-background-color);
	}

	atlas-input-chip-group::part(chips-scroll-view) {
		grid-area: chips;
		display: block;

		padding-inline: var(--inset-size);
		padding-block-start: var(--inset-size);
		padding-block-end: var(--inset-size);

		border-inline: var(--wrapper-border);
		border-block-end: var(--wrapper-border);

		border-radius: 0 0 var(--wrapper-border-radius) var(--wrapper-border-radius);

		min-height: var(--chips-min-height);
		max-height: var(--chips-max-height);
	}

	atlas-input-chip-group::part(chips) {
		display: block;
		height: 100%;
		overflow-y: auto;
	}

	atlas-input-chip-group::part(controls) {
		grid-area: controls;
		display: block;
	}

	atlas-input-chip-group::part(input) {
		grid-area: input;
		display: block;
	}

	atlas-input-chip-group::part(suggestion-scroll-view) {
		grid-area: suggestion;
		display: none;
	}

	atlas-input-chip-group::part(suggestion) {
		display: inherit;
	}

	atlas-input-chip-group[show-suggestion]::part(suggestion-scroll-view) {
		display: block;
		grid-area: controls / chips / span 3;
		isolation: isolate;
		position: relative;
	}

	atlas-input-chip-group[show-suggestion]::part(suggestion) {
		padding-inline: var(--suggestion-inline-padding);
		margin-block-start: var(--suggestion-block-start-margin);

		max-width: 100%;
		min-height: var(--suggestion-min-height);
		max-height: var(--suggestion-max-height);
		overflow-y: auto;

		border: none;
		box-shadow: var(--suggestion-box-shadow);
		background-color: var(--atlas-color-white);
		border-radius: var(--atlas-input-common-border-radius);
	}

	atlas-input-chip-group[show-suggestion]::part(suggestion-scroll-view)::after {
		content: "";
		background-color: var(--atlas-color-white);
		opacity: var(--backdrop-opacity);
		height: var(--backdrop-height);

		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
}
