atlas-typography {
  --h1-weight: 500;
  --h2-weight: 500;
  --font-color: red;
}

atlas-typography::part(p),
atlas-typography::part(h1),
atlas-typography::part(h2),
atlas-typography::part(h3),
atlas-typography::part(h4),
atlas-typography::part(h5),
atlas-typography::part(h6),
atlas-typography::part(span) {
  display: block;
  font-size: 14px;
  color: var(--font-color);
  line-height: 1.5rem;
  letter-spacing: 0.006rem;
  font-family: 'Roboto', sans-serif;
}

atlas-typography::part(span),
atlas-typography::part(p) {
  color: #555555;
}

atlas-typography::part(h1) {
  font-size: 36px;
  font-weight: var(--h1-weight);
}

atlas-typography::part(h2) {
  font-size: 22px;
  font-weight: var(--h2-weight);
}
