@layer atlas {
	atlas-avatar {
		--atlas-avatar-vertex-clip-path: circle(50%);
		--atlas-avatar-default-width: 2em;
		--atlas-avatar-full-mode-min-width: 2em;
	}

	atlas-avatar::part(image),
	atlas-avatar::part(initials),
	atlas-avatar::part(fallback) {
		display: none;
		aspect-ratio: 1 / 1;
		width: var(--atlas-avatar-default-width);
		clip-path: var(--atlas-avatar-vertex-clip-path);
	}

	atlas-avatar[visible="image"]::part(image),
	atlas-avatar[visible="initials"]::part(initials),
	atlas-avatar[visible="fallback"]::part(fallback) {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	atlas-avatar::part(image) {
		position: relative;
		object-fit: cover;
	}

	atlas-avatar[full-mode][visible="initials"],
	atlas-avatar[full-mode][visible="fallback"] {
		min-width: var(--atlas-avatar-full-mode-min-width);
		height: auto;
	}

	atlas-avatar[full-mode][visible="image"]::part(image),
	atlas-avatar[full-mode][visible="initials"]::part(initials),
	atlas-avatar[full-mode][visible="fallback"]::part(fallback) {
		aspect-ratio: unset;
		--atlas-avatar-vertex-clip-path: inset(0% 0% 0% 0% round 0.3em);
	}

	atlas-avatar[full-mode][visible="initials"]::part(initials),
	atlas-avatar[full-mode][visible="fallback"]::part(fallback) {
		width: 100%;
		height: 100%;
	}
}
