@layer atlas {
	atlas-button-set {
		--primary-spacing: 1em;
		--extended-gap: 1.25em;
		--space-around: 0.5em;
	}

	atlas-button-set {
		display: flex;
		flex-direction: column;

		margin-block: var(--space-around);
	}

	atlas-button-set::part(primary) {
		display: flex;
		justify-content: center;

		gap: var(--primary-spacing);
	}

	atlas-button-set::part(extended) {
		display: flex;
		justify-content: center;
	}

	atlas-button-set > [slot="extended"] {
		margin-block-start: var(--extended-gap);
	}
}
