@layer atlas {
	atlas-chip {
		--atlas-chip-base-font-size: 1em;
		--chip-body-min-width: 3ch;
		--chip-body-max-width: 100%;

		font-size: var(--atlas-chip-base-font-size);
		width: fit-content;
		height: var(--atlas-chip-body-height);
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 9em;
		border: 1px solid var(--atlas-color-primary-n100);
		background-color: var(--atlas-color-primary-n25);
		padding-inline: 0.63em;
		padding-block: 0.38em;
	}

	atlas-chip::part(body) {
		display: inline;
		max-width: var(--chip-body-max-width);
		min-width: var(--chip-body-min-width);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: start;
	}

	/* :has([slot="prefix"])::part(prefix) { */
	atlas-chip [slot="prefix"] {
		display: block;
		margin-inline-end: 1ch;
	}

	atlas-chip :is([slot="dismisser"], [slot="suffix"]) {
		font-size: calc(var(--atlas-chip-base-font-size) * 0.5);
		padding-inline-start: 0.97em;
	}

	atlas-chip[type="filter"] :is([slot="dismisser"], [slot="suffix"]) {
		font-size: calc(var(--atlas-chip-base-font-size) * 0.7);
		padding-inline-start: 0.5em;
	}

	atlas-chip atlas-button[kind="icon"] {
		color: inherit;
	}
}
