@layer atlas {
	atlas-snackbar {
		--snackbar-background-color: #eef8ec;
		--snackbar-max-width: 100%;
		--snackbar-prefix-icon-size: 1.25em;
		--snackbar-suffix-icon-size: 1em;
		--snackbar-prefix-icon-color: #047c25;
		--snackbar-title-color: #1b923c;
		--snackbar-title-line-hight: 1.375rem;
		--snackbar-title-font-weight: 600;
		--snackbar-subtitle-color: var(--atlas-color-primary-n500);
		--snackbar-subtitle-line-hight: 1.25rem;
		--snackbar-subtitle-font-weight: 400;
		--snackbar-prefix-right-margin: 1.188rem;
		--snackbar-subtitle-font-size: 0.875rem;
		--snackbar-suffix-margin-left: 2rem;
		--snackbar-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1),
			0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
	}

	atlas-snackbar {
		background: var(--snackbar-background-color);
		width: var(--snackbar-max-width);
		display: grid;
		border-radius: 0.5rem;
		align-items: center;
		grid-template-rows: 1fr 1fr;
		padding: 1rem 1.375rem 1rem 1.188rem;
		grid-template-columns: auto 1fr auto;
		box-shadow: var(--snackbar-shadow);
		grid-template-areas:
			"prefix title suffix"
			"prefix sub-title suffix";
	}

	atlas-snackbar > atlas-icon[slot="prefix"] {
		color: var(--snackbar-prefix-icon-color);
	}

	atlas-snackbar::part(prefix) {
		display: flex;
		grid-area: prefix;
		align-items: center;
		justify-content: center;
		font-size: var(--snackbar-prefix-icon-size);
		margin-inline-end: var(--snackbar-prefix-right-margin);
	}

	atlas-snackbar::part(title) {
		color: var(--snackbar-title-color);
		display: block;
		grid-area: title;
		font-weight: var(--snackbar-title-font-weight);
		line-height: var(--snackbar-title-line-hight);
	}

	atlas-snackbar::part(sub-title) {
		color: var(--snackbar-subtitle-color);
		display: block;
		font-size: var(--snackbar-subtitle-font-size);
		font-weight: var(--snackbar-subtitle-font-weight);
		line-height: var(--snackbar-subtitle-line-hight);
		grid-area: sub-title;
	}

	atlas-snackbar::part(suffix) {
		display: flex;
		grid-area: suffix;
		align-items: center;
		justify-content: center;
		font-size: var(--snackbar-suffix-icon-size);
		margin-inline-start: var(--snackbar-suffix-margin-left);
	}
}
