@layer atlas {
	atlas-tile-board-tile {
		--atlas-title-board-tile-border-radius: 0.5em;
		--atlas-title-board-padding: 1em;

		display: flex;
		flex-flow: nowrap;

		background-color: var(--atlas-color-white);
		padding: var(--atlas-title-board-padding);
		box-shadow: var(--atlas-tile-board-tile-shadow);
		border-radius: var(--atlas-title-board-tile-border-radius);
	}

	atlas-tile-board-tile::part(controls) {
		display: block;
	}

	atlas-tile-board-tile::part(body) {
		display: flex;
		flex-wrap: wrap;
		flex-grow: max-content;
		width: 100%;
	}
}
