atlas-button{
    --new: 0;
    --button-reset-border: 0;
    --button-reset-outline: 0;
    --button-reset-decoration: none;
    --button-cursor: pointer;
    --button-position: relative;
    --button-transition: .5s all;
    --button-display: inline-grid;
    --button-box-sixing: border-box;
    --button-line-hight: 20px;
    --button-min-width: 64px;
    --button-border-radius: 6px;
    --button-text-color: #fff;
    --button-outlined: 1px solid #ddd;
    --button-background-transparent: transparent;

    /* Disabled */

    --button-disabled-color: #999999;
    --button-disabled-text-color: #7777777;
    --button-disabled-border-color: #dddddd;
    --button-disabled-background-color: #eeeeee;

    /* Color */

    --button-color-primary: #00607F;
    --button-color-secondary: #fff;
    --button-color-error: #fff;
    --button-color-success: #fff;

    /* Size */

    --button-small-padding-block: 6px;
    --button-small-padding-inline: 10px;
    --button-small-padding: var(--button-small-padding-block) var(--button-small-padding-inline);
    --button-small-font-size: 14px;
    --button-small-line-height: var(--button-line-hight);

    --button-medium-font-size: 16px;
    --button-medium-padding-block: 10px;
    --button-medium-padding-inline: 16px;
    --button-medium-padding: var(--button-medium-padding-block) var(--button-medium-padding-inline);
    --button-medium-line-height: var(--button-line-hight);

    --button-large-padding-block: 14px;
    --button-large-padding-inline: 24px;
    --button-large-padding: var(--button-large-padding-block) var(--button-large-padding-inline);
    --button-large-font-size: 18px;
    --button-large-line-height: var(--button-line-hight);

    /* Variant */

    --button-variant-text-color: #fff;
    --button-variant-text-font-color: #fff;
    --button-variant-text-background-color: transparent;
    --button-variant-text-background-hover-color: #f3f9ff;

    --button-variant-outlined-reset-border: 0;
    --button-variant-outlined-color: #fff;
    --button-variant-outlined-font-color: #fff;
    --button-variant-outlined-background-color: transparent;
    --button-variant-outlined-background-hover-color: #f3f9ff;
    --button-variant-outlined-border-color: var(--button-color-primary);

    --button-variant-contained-text-color: #ffffff;
    --button-variant-contained-background-color: var(--button-color-primary);
    --button-variant-contained-background-hover-color: rgba(0, 96, 127, 0.88);

    /* Adornment */

    --button-adornment-padding-block: 1rem;
    --button-adornment-padding-inline: 1rem
}

atlas-button {
    line-height: 0;
    cursor: pointer;
    display: inline-block;
}

/* Reset */

atlas-button::part(top-adornment),
atlas-button::part(left-adornment),
atlas-button::part(right-adornment),
atlas-button::part(bottom-adornment),
atlas-button::part(main-content) {
    display: block;
}

atlas-button::part(top-adornment),
atlas-button::part(left-adornment),
atlas-button::part(right-adornment),
atlas-button::part(bottom-adornment) {
    display: none;
}

/* Button */

atlas-button::part(button) {
    cursor: var(--button-cursor);
    display: var(--button-display);
    position: var(--button-position);
    color: var(--button-color-primary);
    min-width: var(--button-min-width);
    border: var(--button-reset-border);
    transition: var(--button-transition);
    box-sizing: var(--button-box-sixing);
    outline: var(--button-reset-outline);
    line-height: var(--button-line-hight);
    border-radius: var(--button-border-radius);
    text-decoration: var(--button-reset-decoration);

    align-items: center;
    justify-content: center;
    background-color: transparent;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

atlas-button::part(button):hover {
    background-color: #f3f9ff;
}

/* Size */

atlas-button::part(button){
    font-size: var(--button-medium-font-size);
    padding: var(--button-medium-padding);
    border: var(--button-variant-outlined-reset-border);
    color: var(--button-variant-contained-text-color);
    background-color: var(--button-variant-contained-background-color);
}

atlas-button::part(button):hover {
    background-color: var(--button-variant-contained-background-hover-color);
}

atlas-button[size="small"]::part(button) {
    font-size: var(--button-small-font-size);
    padding: var(--button-small-padding);
}

atlas-button[variant="outlined"]::part(button),
atlas-button[size="small"][variant="outlined"]::part(button){
    padding-left: calc(var(--button-small-padding-inline) - 1px);
    padding-right: calc(var(--button-small-padding-inline) - 1px);
}

atlas-button[size="medium"]::part(button) {
    font-size: var(--button-medium-font-size);
    padding: var(--button-medium-padding);
}

atlas-button[size="medium"][variant="outlined"]::part(button){
    padding-left: calc(var(--button-medium-padding-inline) - 1px);
    padding-right: calc(var(--button-medium-padding-inline) - 1px);
}

atlas-button[size="large"]::part(button) {
    font-size: var(--button-large-font-size);
    padding: var(--button-large-padding);

}

atlas-button[size="large"][variant="outlined"]::part(button){
    padding-left: calc(var(--button-large-padding-inline) - 1px);
    padding-right: calc(var(--button-large-padding-inline) - 1px);
}

/* Variant */

atlas-button[variant="text"]::part(button) {
    color: var(--button-color-primary);
    background-color: var(--button-variant-outlined-background-color);
}

atlas-button[variant="text"]::part(button):hover {
    background-color: var(--button-variant-text-background-hover-color);
}

atlas-button[variant="text"][disabled]::part(button){
    color: var(--button-disabled-color);
    background-color: var(--button-background-transparent);
}

atlas-button[variant="outlined"]::part(button) {
    color: var(--button-color-primary);
    border: 1px solid var(--button-variant-outlined-border-color);
    background-color: var(--button-variant-outlined-background-color);
}

atlas-button[variant="outlined"]::part(button):hover {
    background-color: var(--button-variant-outlined-background-hover-color);
}

atlas-button[variant="outlined"][disabled]::part(button){
    color: var(--button-disabled-color);
    border: 1px solid var(--button-disabled-border-color);
    background-color: var(--button-background-transparent);
}

/*TODO: review*/
atlas-button[variant="contained"] atlas-typography::part(span) {
    color: inherit;
    font-weight: 500;
    line-height: inherit;
    font-size: 1rem;
}

atlas-button[variant="contained"]::part(button) {
    border: var(--button-variant-outlined-reset-border);
    color: var(--button-variant-contained-text-color);
    background-color: var(--button-variant-contained-background-color);
}

atlas-button[variant="contained"][disabled]::part(button){
    color: var(--button-disabled-text-color);
    border: 1px solid var(--button-disabled-border-color);
    background-color: var(--button-disabled-background-color);
}

atlas-button[variant="contained"]::part(button):hover{
    background-color: var(--button-variant-contained-background-hover-color);
}

/* Top Adornment */

atlas-button::part(top-adornment) {
    display: flex;
    grid-column: 1/-1;
}

atlas-button:has([slot="top-adornment"])::part(top-adornment){
    margin-bottom: .5rem;
}

atlas-button[bottom-adornment="center"]::part(bottom-adornment),
atlas-button[top-adornment="center"]::part(top-adornment) {
    align-items: center;
    justify-content: center;
}

atlas-button[top-adornment="end"]::part(top-adornment) {
    align-items: end;
    justify-content: end;
}

/* Left Adornment */

atlas-button::part(left-adornment) {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

atlas-button:has([slot="left-adornment"])::part(left-adornment) {
    margin-right: 8px;
}

/* Main Content */

atlas-button::part(main-content) {
    display: flex;
    grid-column: 2/3;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    letter-spacing: 0.02857em;
}

/* Right Adornment */

atlas-button::part(right-adornment) {
    display: flex;
    grid-column: 3/-1;
    align-items: center;
    justify-content: center;
}

atlas-button:has([slot="right-adornment"])::part(right-adornment) {
    margin-left: 8px;
}

/* Bottom Adornment*/

atlas-button::part(bottom-adornment) {
    grid-column: 1/-1;
    grid-row: 3/-1;
    display: flex;
}

atlas-button:has([slot="bottom-adornment"])::part(bottom-adornment){
    margin-top: .5rem;
}

/* Common */

atlas-button[disabled]{
    opacity: 0.5;
    color: #999999;
    pointer-events: none !important;
}