:root {
	--font-family-proxima: "ProximaNova", Arial, Helvetica, sans-serif;
	--font-family-proxima-bold: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
	--font-family-proxima-semibold: "ProximaNova-Semibold", Arial, Helvetica, sans-serif;
	--font-family-proxima-light: "ProximaNova-Light", Arial, Helvetica, sans-serif;
	--font-family-ibm-serif-bold: "IBMPlexSerif-Bold", "Georgia", Times, serif;

	/* atlas-type-headline-Xlarge-bold-uppercase */
	--atlas-type-headline-Xlarge-bold-uppercase-font-size: 3em;
	/* --atlas-type-headline-Xlarge-bold-uppercase-line-height: 56px; */
	/* --atlas-type-headline-Xlarge-bold-uppercase-font-weight: 700; */
	--atlas-type-headline-Xlarge-bold-uppercase-font-family: var(--font-family-proxima-bold);
	--atlas-type-headline-Xlarge-bold-uppercase-text-transform: uppercase;

	/* atlas-type-headline-large-bold */
	--atlas-type-headline-large-bold-font-size: 2.6em;
	/* --atlas-type-headline-large-bold-line-height: 48px; */
	/* --atlas-type-headline-large-bold-font-weight: 700; */
	--atlas-type-headline-large-bold-font-family: var(--font-family-proxima-bold);

	/* atlas-type-headline-medium-bold */
	--atlas-type-headline-medium-bold-font-size: 2em;
	/* --atlas-type-headline-medium-bold-line-height: 38px; */
	/* --atlas-type-headline-medium-bold-font-weight: 700; */
	--atlas-type-headline-medium-bold-font-family: var(--font-family-proxima-bold);

	/* atlas-type-headline-small-semibold */
	--atlas-type-headline-small-semibold-font-size: 1.5em;
	/* --atlas-type-headline-small-semibold-line-height: 30px; */
	/* --atlas-type-headline-small-semibold-font-weight: 700; */
	--atlas-type-headline-small-semibold-font-family: var(--font-family-proxima-bold);

	/* atlas-type-title-large-semibold */
	--atlas-type-title-large-semibold-font-size: 1.5em;
	/* --atlas-type-title-large-semibold-line-height: 30px; */
	/* --atlas-type-title-large-semibold-font-weight: 600; */
	--atlas-type-title-large-semibold-font-family: var(--font-family-proxima-semibold);

	/* atlas-type-title-large-light */
	--atlas-type-title-large-light-font-size: 1.5em;
	/* --atlas-type-title-large-light-line-height: 30px; */
	/* --atlas-type-title-large-light-font-weight: 300; */
	--atlas-type-title-large-light-font-family: var(--font-family-proxima-light);

	/* atlas-type-title-medium-semibold */
	--atlas-type-title-medium-semibold-font-size: 1.125em;
	/* --atlas-type-title-medium-semibold-line-height: 24px;
	--atlas-type-title-medium-semibold-font-weight: 600; */
	--atlas-type-title-medium-semiboldfont-family: var(--font-family-proxima-semibold);

	/* atlas-type-title-small-semibold */
	/* --atlas-type-title-small-semibold-line-height: 22px;
	--atlas-type-title-small-semibold-font-weight: 600; */
	--atlas-type-title-small-semibold-font-family: var(--font-family-proxima-semibold);

	/* atlas-type-title-medium-semibold-uppercase */
	--atlas-type-title-medium-semibold-uppercase-font-size: 1.12em;
	/* --atlas-type-title-medium-semibold-uppercase-line-height: 36px; */
	/* --atlas-type-title-medium-semibold-uppercase-font-weight: 600; */
	--atlas-type-title-medium-semibold-uppercase-font-family: var(--font-family-proxima-semibold);
	--atlas-type-title-medium-semibold-uppercase-text-transform: uppercase;

	/* atlas-type-title-small-semibold-uppercase */
	/* --atlas-type-title-small-semibold-uppercase-line-height: 36px; */
	/* --atlas-type-title-small-semibold-uppercase-font-weight: 600; */
	--atlas-type-title-small-semibold-uppercase-font-family: var(--font-family-proxima-semibold);
	--atlas-type-title-small-semibold-uppercase-text-transform: uppercase;

	/* atlas-type-title-Xsmall-semibold */
	--atlas-type-title-Xsmall-semibold-font-size: 0.875em;
	/* --atlas-type-title-Xsmall-semibold-line-height: 16px; */
	--atlas-type-title-Xsmall-semibold-font-weight: 600;
	--atlas-type-title-Xsmall-semibold-font-family: var(--font-family-proxima-semibold);

	/* atlas-type-body-large-bold */
	/* --atlas-type-body-large-bold-line-height: 22px; */
	/* --atlas-type-body-large-bold-font-weight: 600; */
	--atlas-type-body-large-bold-font-family: var(--font-family-proxima-bold);

	/* atlas-type-body-Xlarge-regular */
	--atlas-type-body-Xlarge-regular-font-size: 1.5em;
	/* --atlas-type-body-Xlarge-regular-line-height: 30px; */
	/* --atlas-type-body-Xlarge-regular-font-weight: 400; */
	--atlas-type-body-Xlarge-regular-font-family: var(--font-family-proxima);

	/* atlas-type-body-large-regular */
	/* --atlas-type-body-large-regular-line-height: 22px; */
	/* --atlas-type-body-large-regular-font-weight: 400; */
	--atlas-type-body-large-regular-font-family: var(--font-family-proxima);

	/* atlas-type-body-medium-regular */
	--atlas-type-body-medium-regular-font-size: 0.875em;
	/* --atlas-type-body-medium-regular-line-height: 20px; */
	--atlas-type-body-medium-regular-font-weight: 400;
	--atlas-type-body-medium-regular-font-family: var(--font-family-proxima);

	/* atlas-type-body-small-regular */
	--atlas-type-body-small-regular-font-size: 0.75em;
	/* --atlas-type-body-small-regular-line-height: 16px; */
	/* --atlas-type-body-small-regular-font-weight: 400; */
	--atlas-type-body-small-regular-font-family: var(--font-family-proxima);

	/* atlas-type-display-large-bold */
	--atlas-type-display-large-bold-font-size: 3em;
	/* --atlas-type-display-large-bold-line-height: 56px; */
	/* --atlas-type-display-large-bold-font-weight: 700; */
	--atlas-type-display-large-bold-font-family: var(--font-family-ibm-serif-bold);

	/* atlas-type-display-medium-bold */
	--atlas-type-display-medium-bold-font-size: 2em;
	/* --atlas-type-display-medium-bold-line-height: 38px; */
	/* --atlas-type-display-medium-bold-font-weight: 700; */
	--atlas-type-display-medium-bold-font-family: var(--font-family-ibm-serif-bold);

	/* atlas-type-display-small-bold */
	--atlas-type-display-small-bold-font-size: 1.125em;
	/* --atlas-type-display-small-bold-line-height: 24px; */
	/* --atlas-type-display-small-bold-font-weight: 700; */
	--atlas-type-display-small-bold-font-family: var(--font-family-ibm-serif-bold);
}
